body {
    margin: 2rem;
}
header .header {
    font-size: 2rem;
}

.details {
    display: flex;
    margin-top: 2rem;
}

.loan-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-right: 2rem;
}

.loan-form input {
    margin-bottom: 1rem;
}

.loan-form fieldset {
    margin-bottom: 1rem;
    padding: 0;
    border: none;
}

.loan-form fieldset#downpayment {
    width: 5rem;
    height: 1rem;
}

.loan-form fieldset#term {
    width: 10rem;
    height: 1rem;
}

button {
    margin-left: 223px;
    width: 6rem;
    padding: .5rem;
    background: blue;
    color: white;
    border: none;
    border-radius: 2rem;
}